/* General css */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.App{
  display: grid;
  background-color: #F8F9FB;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 1em;
}

#cards-wrapper{
  display:grid;
  grid-gap: 1em;
  margin: 8px;
}

/*----------------------Card styles---------------------- */
.card {
  border-radius:9px;
  padding: 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding:1em;
  border-top: 10px solid #1C2232 ;
}


.card h1{
  margin-top:0;
  
}
/* ---------Top Menu---------- */
.top_menu {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(1,1,42,1) 42%, rgba(1,1,42,1) 100%);
  color: #F8F9FB;
  display: grid;
}

/* -----menu cards--------- */

.menucard {
  width: 75%;
  border-radius:9px;
  padding: 0.5em;
  background-color: #F8F9FB;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  color:#1C2232;
  display: flex;
  flex-direction: column;
 justify-content: space-between;
}

.menucardwrapper {
 display: flex;
 gap: 0.5em;
 margin: 0 8px;
 
}





li {
  list-style: none;
}
ul {
  padding:0;
  margin:0;
}


@media (min-width: 700px) and (orientation: portrait) { 
  /* menu top and two columns for the apps */
  .App{
    grid-template-columns: 1fr 1fr;
 }

 /* ---------Top Menu---------- */
.top_menu {
  grid-column: 1/-1;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 31%, rgba(1,1,42,1) 32%, rgba(1,1,42,1) 100%);
}

/* -----menu cards--------- */

.menucardwrapper {
  margin: 0 160px;
  gap: 1em;
  
 }

/* ----- general cards ----*/

 #cards-wrapper{
  margin: 25px;
  grid-column: 1/-1;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}
 
}

@media (min-width: 912px) and (orientation: landscape) { 
  /* menu top and two columns for the apps */
  .App{
    grid-template-columns: 1fr 5fr;
 }
/* ---------Top Menu---------- */
.top_menu {
  grid-column: 1;
  background: #1C2232;
  color: #F8F9FB;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menucardwrapper {
  flex-direction: column;
  align-items: center;
  gap: 1em;
  
 }

 /* ----- general cards ----*/

#cards-wrapper{
  margin: 2em;
  grid-column: 2/-1;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

}

@media (min-width: 1200px) {
  #cards-wrapper{
  
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;

  }
}