/* General css */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

.App {
  display: grid;
  background-color: #f8f9fb;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 1em;
}

#cards-wrapper {
  display: grid;
  grid-gap: 1em;
  margin: 8px;
}

/*----------------------Card styles---------------------- */
.card {
  border-radius: 9px;
  padding: 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 1em;
  border-top: 10px solid #1c2232;
}

.card h1 {
  margin-top: 0;
}
/* ---------Top Menu---------- */
.top_menu {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 41%,
    rgba(1, 1, 42, 1) 42%,
    rgba(1, 1, 42, 1) 100%
  );
  color: #f8f9fb;
  display: grid;
}

/* -----menu cards--------- */

.menucard {
  width: 75%;
  border-radius: 9px;
  padding: 0.5em;
  background-color: #f8f9fb;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  color: #1c2232;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menucardwrapper {
  display: flex;
  gap: 0.5em;
  margin: 0 8px;
}

li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}

/*----------------Barrels--------------*/
.beer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  flex: 1 0 0;
}
.beer .stockcircle p {
  margin: 0;
  font-weight: bold;
}
.stockcircle {
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.barrels {
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
  column-gap: 0.2rem;
}
.beer-name {
  font-size: 0.8rem;
}

/*----------------Levels--------------*/

.levels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.levelsgraph {
  display: grid;
  gap: 0.5rem;
}

@media (min-width: 700px) and (orientation: portrait) {
  /* menu top and two columns for the apps */
  .App {
    grid-template-columns: 1fr 1fr;
  }

  /* ---------Top Menu---------- */
  .top_menu {
    grid-column: 1/-1;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 31%,
      rgba(1, 1, 42, 1) 32%,
      rgba(1, 1, 42, 1) 100%
    );
  }

  /* -----menu cards--------- */

  .menucardwrapper {
    margin: 0 160px;
    gap: 1em;
  }

  /* ----- general cards ----*/

  #cards-wrapper {
    margin: 25px;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  /*----------------Barrels--------------*/
  .stockcircle {
    width: 40px;
    height: 40px;
  }
  .barrels {
    height: 250px;
    column-gap: 0.5rem;
  }
  .beer-name {
    font-size: 1rem;
  }
  .levelsgraph {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}
@media (min-width: 700px) {
  /*----------------Levels--------------*/

  .levels {
    display: flex;
    flex-direction: row;
    width: 250px;
  }
  .levelsgraph {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2 rem;
    row-gap: 1rem;
  }
  /*----------------Barrels--------------*/
  .stockcircle {
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    border-radius: 50%;
  }
  .barrels {
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
    column-gap: 1rem;
  }
  .beer-name {
    font-size: 1rem;
  }
}
@media (min-width: 912px) and (orientation: landscape) {
  /* menu top and two columns for the apps */
  .App {
    grid-template-columns: 1fr 5fr;
  }
  /* ---------Top Menu---------- */
  .top_menu {
    grid-column: 1;
    background: #1c2232;
    color: #f8f9fb;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menucardwrapper {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  /* ----- general cards ----*/

  #cards-wrapper {
    margin: 2em;
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }

  /*----------------Levels--------------*/

  .levels {
    display: flex;
    flex-direction: row;
    width: 200px;
    font-size: 0.8rem;
  }
  /*----------------Barrels--------------*/
  .barrels {
    height: 250px;
    column-gap: 1rem;
  }
  .beer-name {
    font-size: 0.8rem;
  }
}

@media (min-width: 1300px) {
  #cards-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
  }
  /*----------------Barrels--------------*/
  .stockcircle {
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    border-radius: 50%;
  }
  .barrels {
    height: 300px;
    column-gap: 0.5rem;
  }
  .beer-name {
    font-size: 1rem;
  }
  /*----------------Levels--------------*/

  .levels {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1550px) {
  /*----------------Barrels--------------*/
  .stockcircle {
    width: 40px;
    height: 40px;
  }
  .barrels {
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
    column-gap: 0.5rem;
  }
  .beer-name {
    font-size: 1rem;
  }
}
